* {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 14px;
    color: #F9FAF8;
    margin-top: 1.5rem;
}

h3 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 1.2rem;
}

button {
    background-color: #3882F6;
    border: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 0.2rem 1.5rem;
    margin-top: 0.5rem;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0 20rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.content {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    padding: 0 20rem;
    height: 23rem;
    gap: 3rem;
}

.image {
    background-color: gray;
    width: 50rem;
    height: 14rem;
    text-align: center;
    line-height: 14rem;
    margin-left: auto;
    margin-top: 3.2rem;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 4rem;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.info-images-and-description {
    display: flex;
    justify-content: center;
    width: 700px;
    gap: 4rem;
}

.sub-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.second-image {
    width: 10rem;
    height: 10rem;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 1.5rem;
}

.quote {
    background-color: #E5E7EB;
    padding: 0 15vh;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    margin-top: 7rem;
    margin-bottom: -2.5rem;
}

#author {
    margin-bottom: 6rem;
    text-align: end;
    font-weight: bold;
    font-size: 28px;
}