* {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 14px;
    color: #F9FAF8;
    margin-top: 1.5rem;
}

h3 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    border: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 0.2rem 1.5rem;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.content {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    padding: 0 10rem;
    height: 33vh;
}

.image {
    background-color: gray;
    width: 25rem;
    height: 13rem;
}