* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 14px;
    color: #F9FAF8;
    margin-top: 1.5rem;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
}

.links {
    display: flex;
    gap: 2rem;
}